.sumary-fixed{
    
      padding-right: 30px;
}

.b-d-black{
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 1.0rem;
      cursor: pointer;
}

::-webkit-input-placeholder {
      color:#aaa39fa8 ;
      
   }
   
   :-moz-placeholder {
      color: #bdb2aaa8;
      
   }
   
   ::-moz-placeholder {
      color: #bdb2aaa8;  
      
   }
   
   :-ms-input-placeholder {  
      color: #bdb2aaa8;  
      
   }

   .input-pon{
      cursor: pointer;
   }