<div class="container" style="white-space: normal">
  <hr class="featurette-divider">
  <!-- Example row of columns -->
  <section class="content">
    <div class="row">
      <div class="col-md-7">

        <div class="box box-primary">
          <div class="box-header with-border">
            <h1 class="box-title">{{service.name}}</h1>
          </div>
          <!--DataCenters-->
          <div class="box-body" style="padding-left:30px; ">
            <div *ngFor="let field of fields; let i = index">
              <div *ngIf="field.fieldType === 0" class="form-group">
                <label *ngIf="field.required == 1">*</label>
                <label class="b-d-black" title="{{field.hint}}">{{field.name}}:</label>  <span *ngIf="field.isUsedForPrice == 1">({{field.price | currency:'BRL':true:'1.2-2'}} )</span>
                
                <input class="form-control" [placeholder]="field.fieldDescription" type="text" maxlength="30" required="true" [value]="field.fieldValueDefault"
                  (blur)=" addField(inputValue.value,field)" #inputValue>
                
              </div>
              <div *ngIf="field.fieldType === 4" class="form-group">
                <div *ngIf="!field.children">
                  <div>
                    <label class="b-d-black" title="{{field.hint}}">
                      <span *ngIf="field.required == 1">*</span>{{field.name}}: </label> <span *ngIf="field.isUsedForPrice == 1 && !field.children">({{field.price | currency:'BRL':true:'1.2-2'}} )</span>
                    <a (click)="setField(field)">
                      <i class="fa fa-plus-square-o fa-1x" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div>
                    <input style="width: 100%;" class="form-control" [placeholder]="field.fieldDescription" type="text" maxlength="30" required="true"
                      [value]="field.fieldValueDefault" (blur)="addField(inputValue.value,field)" #inputValue>
                  </div>
                </div>                
                <div *ngIf="field.isUsedForPrice == 0 && !field.children" style="height: 10px"></div>
                <div *ngFor="let children of getFieldChildren(field.id)">
                  <div class="form-group form-inline">
                    <div class="col-md-1">
                      <label class="b-d-black" title="{{field.hint}}">
                        <span *ngIf="children.required == 1">*</span>{{children.name}}: </label>
                    </div>
                    <div class="col-md-10">
                      <input style="width: 100%;" class="form-control" [placeholder]="children.fieldDescription" type="text" maxlength="30" required="true"
                        [value]="children.fieldValueDefault" (blur)=" addField(inputValue.value,children)" #inputValue>
                    </div>
                    <div class="col-md-1">
                      <a (click)="delField(children)">
                        <i class="fa fa-minus-square-o"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="field.fieldType === 1">
                <!--SubServices-->
                <form>
                  <p class="text-left">
                    <label class="b-d-black" title="{{field.hint}}">
                      <span *ngIf="field.required == 1">*</span>{{field.name}}:</label>
                  </p>
                  <div *ngFor="let  item of  getFieldValues(field.id)" class="radio">
                    <span class="input-group-addon">
                      <input type="radio" [checked]="field.fieldValueDefault === item" [id]="field.id" [name]="field.id" [value]="item" (click)="addField(item,field)">
                      <label class="text-left" [for]="item">{{item}} ({{field.price | currency:'BRL':true:'1.2-2'}})</label>
                    </span>
                  </div>
                </form>
              </div>
              <div *ngIf="field.fieldType === 2">
                  <p class="text-left">
                      <label class="b-d-black" title="{{field.hint}}">
                        <span *ngIf="field.required == 1">*</span>{{field.name}}:</label>
                  </p>
                  <div *ngFor="let item of getFieldValues(field.id)" class="checkbox">
                      <label class="input-pon">
                        <input type="checkbox" [checked]="field.fieldValueDefault === item" [id]="field.id" [name]="field.id" (click)="addFieldChecked(field.id,item)" [value]="item">{{item}}</label>
                    </div>
              </div>

            </div>
            <div *ngIf="datacenters.length > 0 ">
            <form>
              <p class="text-left">
                <label class="b-d-black">*Data Centers</label>
              </p>
              <div *ngFor="let datacenter of datacenters" class="radio">
                <span class="input-group-addon">
                  <input type="radio" [id]="datacenter.name" name="datacenter" [value]="datacenter.name" (click)="datacenterSelect(datacenter)">
                  <label class="text-left input-pon" [for]="datacenter.name">{{datacenter.name}}</label>
                </span>
              </div>
            </form>
            </div>
            <!--SubServices-->
            <div *ngFor="let type of typesItem">
              <form>
                <p class="text-left">
                  <label class="b-d-black">{{type.required}}{{type.name}}</label>
                </p>
                <div *ngFor="let  item of serviceItems" class="radio">
                  <span class="input-group-addon" *ngIf="item.typeName == type.name">
                    <input type="radio" [id]="item.name" [name]="type.name" [value]="item.name" (click)="serverItensSelect(item)">
                    <label class="text-left input-pon" [for]="item.name"  title="{{item.description}}">{{item.name}} ({{item.price | currency:'BRL':true:'1.2-2'}})</label>
                  </span>
                </div>

              </form>
            </div>
            <!--Fields-->
            <div class="chart">
              <canvas id="areaChart" style="height: 212px; width: 534px;" width="534" height="212"></canvas>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- DONUT CHART -->

        <!-- /.box -->

      </div>
      <!-- /.col (LEFT) -->
      <div class="col-md-5 sumary-fixed">
        <!-- LINE CHART -->
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Sumary</h3>
            <p class="text-left">
              <b>Total: {{summary.total | currency:'BRL':true:'1.2-2'}} </b>
            </p>
          </div>
          <div class="box-body">
            <div class="chart">
              <table class="table">
                <tr *ngIf="isVisible">
                  <th>Data Center</th>
                  <td></td>
                  <td>{{summary.datacenter.name}}</td>
                </tr>
                <tbody *ngFor="let field of summary.fields; let i = index">
                  <tr *ngIf="!field.children && field.value !== '' && field.fieldType != 4">
                    <th colspan="3" style="text-align: center;">{{field.name}}</th>
                  </tr>
                  <tr *ngIf="!field.children && field.fieldType == 4">
                      <th colspan="3" style="text-align: center;">{{field.name}}</th>
                    </tr>
                  <tr *ngIf="field.fieldType != 4 && field.fieldType != 2 && field.value !== '' ">
                    <td colspan="2">{{field.value}}</td>
                    <td>{{field.price | currency:'BRL':true:'1.2-2'}}</td>
                  </tr>
                  <ng-container *ngIf="field.fieldType == 2 && field.value !== ''">
                    <tr *ngFor="let checked of getFieldChecked(field.id)">
                        <td colspan="2">{{checked}}</td>
                        <td>{{field.price | currency:'BRL':true:'1.2-2'}}</td>
                    </tr>
                  </ng-container>
                  
                  <ng-container *ngIf="field.fieldType == 4 && !field.children">
                    <tr *ngIf="field.value !== ''">
                      <td colspan="2">{{field.value}}</td>
                      <td>{{field.price | currency:'BRL':true:'1.2-2'}}</td>
                    </tr>
                    <ng-container  *ngFor="let children of getFieldChildren(field.id)">
                      <tr *ngIf="children.value !== ''">
                        <td colspan="2">{{children.value}}</td>
                        <td>{{children.price | currency:'BRL':true:'1.2-2'}}</td>
                      </tr>
                    </ng-container>
                  </ng-container>

                </tbody>

                <tbody *ngFor="let item of summary.serviceItem">
                  <tr>
                    <th colspan="3" style="text-align: center;">{{item.typeName}}</th>
                  </tr>
                  <tr>
                    <td colspan="2">{{item.name}}</td>
                    <td>{{item.price | currency:'BRL':true:'1.2-2'}}</td>
                  </tr>
                </tbody>

              </table>
              <div class="box-footer with-border">

                <p class="text-right">
                  <button (click)="placeOrder()" class="btn btn-primary"> Place Order</button>
                </p>
                <p class="text-left" [style.color]="requiredVisible? 'red' : 'black'">
                  {{required}}
                </p>
              </div>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->


        <!-- /.box -->

      </div>
      <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->


  </section>

</div>

<!-- Modal -->

<!-- Modal -->
<div aria-labelledby="exampleModalLongTitle" [class.modal-order]="isOrder" [class.show]="isOrder" class="modal fade" id="exampleModalLong"
  role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Message</h5>
        <a (click)="close()">
          <span>&times;</span>
        </a>
      </div>
      <div class="modal-body">
        <p> Your order is correct?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="confirm()">Confirm!</button>
      </div>
    </div>
  </div>
</div>