<div class="container areas">
  <div class="coonfil">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h4>Your Profile</h4>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="form-group row">
                    <label for="username" class="col-4 col-form-label">E-mail:</label>
                    <div class="col-8">
                      <input readonly id="username" value="{{user.email}}" class="form-control here" readonly type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="name" class="col-4 col-form-label">Type:</label>
                    <div class="col-8">
                      <input readonly value="{{user.typeName}}" class="form-control here" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="lastname" class="col-4 col-form-label">Client Name:</label>
                    <div class="col-8">
                      <input readonly value="{{client.name}}" class="form-control here" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="text" class="col-4 col-form-label">Banda:</label>
                    <div class="col-8">
                      <input readonly value="{{client.banda}}" class="form-control here" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="text" class="col-4 col-form-label">Document:</label>
                    <div class="col-8">
                      <input readonly value="{{client.document}}" class="form-control here" required="required" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="text" class="col-4 col-form-label">Staus:</label>
                    <div class="col-8">
                      <input readonly value="{{client.statusName}}" class="form-control here" type="text">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">VLANs:</label>
                    <div class="col-8">
                      <div class="row" *ngFor="let vlan of client.vlan">
                        <div class="col">
                          <div class="form-group">
                            <label for="pwd">Name:</label>
                            <input readonly value="{{vlan.name}}" class="form-control here" type="text">
                          </div>

                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="pwd">Vlan:</label>
                            <input readonly value="{{vlan.vlan}}" class="form-control here" type="text">
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">IPs:</label>
                    <div class="col-8">
                      <div class="row" *ngFor="let ip of client.ip">
                        <div class="col">
                          <div class="form-group">
                            <label for="pwd">Range:</label>
                            <input readonly value="{{ip.range}}" class="form-control here" type="text">
                          </div>

                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="pwd">Banda:</label>
                            <input readonly value="{{ip.banda}}" class="form-control here" type="text">
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



  </div>
</div>