<div class="container marketing" >
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <!-- /.col-lg-4 -->
      <div class="col-lg-3"></div>
      <div class="col-lg-6">        
        <h2 class="mt-5" style="text-align: center;">My Products</h2>
        <table class="table table-striped text-center ml-3">
          <thead>
            <tr>
              <th scope="col">Amount</th>
              <th scope="col">Category</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let product of products">
              <th scope="row">
                <a >{{product.amount}}</a>
              </th>
              <td>
                <a [routerLink]="['/cliente','my-products', product.category]">{{product.category}}</a>
              </td>
            </tr>            
          </tbody>
        </table>
               
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-3"></div>
    </div>
    <!-- /.row -->

  </div>
