<div class="container areas">
    <hr class="featurette-divider">
    <div class="container areas" style="margin-top:10%;">
      <div class="container row text-center">
        <div class="col-lg-10">
          <h2 class="text-left">Carrousel</h2>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <br>
    <div style=" width:100%;
                    height:450px;
                    overflow:auto;">
      <table class="table table-striped ">
        <thead>
          <tr class="thead">
            <th>ID</th>
            <th>Nome</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="isEmpty()">
          <tr *ngFor="let carrousel of carrousels">
            <td>{{carrousel.id}}</td>
            <td>{{carrousel.name}}</td>
            <td>
              <a (click)="edit(carrousel)" data-toggle="modal" data-target="#modalDC">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a (click)="delete(carrousel.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!isEmpty()">
          <tr>
            <td colspan="5">A busca não retornou resultados</td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-primary" data-toggle="modal" data-target="#modalDC">Adicionar</a>
    <hr class="featurette-divider">
  </div>
  
  <div class="modal modalDC" id="modalDC" tabindex="-1" role="dialog" aria-labelledby="modalDC" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDCTitle">Adicionar Carrousel</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="reset()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <label for="name">Nome:</label>
              <input type="text" class="form-control" [(ngModel)]="carrousel.name">
              <label for="name">Descrição:</label>
              <textarea class="form-control" rows="3"  maxlength="500" [(ngModel)]="carrousel.description" placeholder="Enter ..."></textarea>
              <div class="form-group">
                <label>Imagem:</label>
                <label style="color:red;">Obs*:Imagens no formato .jpg</label>
                <form-upload></form-upload>
                <details-upload [fileUpload]='urlImage'></details-upload>           
              </div>                           
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="reset()" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="save()" data-dismiss="modal">Salvar</button>
          </div>
        </div>
      </div>
    </div>