<div class="col-md-12">
  <div style=" width:100%;
                    height:450px;
                    overflow:auto;">
    <table class="table table-striped ">
      <thead>
        <tr class="thead">
          <th>VLAN</th>
          <th>Nome</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
       <tbody>
        <tr *ngFor="let vlan of vlans">
          <td>{{vlan.vlan}}</td>
          <td>{{vlan.name}}</td>
          <td>
            <a (click)="edit(vlan)" class="ignore-tab" data-toggle="modal" data-target="#modalvlan">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <a (click)="remove(vlan)" class="ignore-tab">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="vlans.length < 1">
        <tr>
          <td colspan="5">Nada Adicionado</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" data-toggle="modal" data-target="#modalvlan"> Adicionar </button>

  <div class="modal modalvlan" id="modalvlan" tabindex="-1" role="dialog" aria-labelledby="modalvlan" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalvlanTitle">Adicionar VLAN</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="reset()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

              <form [formGroup]="formName">
                <div class="form-group" [class.has-error]="formName.controls['vlan'].touched && !formName.controls['vlan'].valid">
                  <label for="name">VLAN:</label>
                  <input type="number" class="form-control" [(ngModel)]="vlan.vlan" formControlName="vlan">
                  <p style="color:red" *ngIf="formName.controls['vlan'].touched && !formName.controls['vlan'].valid">O campo é obrigatório!</p>
                </div>
                <div class="form-group" [class.has-error]="formName.controls['name'].touched && !formName.controls['name'].valid">
                  <label>Nome:</label>
                  <input type="text" class="form-control" [(ngModel)]="vlan.name"  maxlength="30" formControlName="name">
                  <p style="color:red" *ngIf="formName.controls['name'].touched && !formName.controls['name'].valid">O campo é obrigatório!</p>
                </div>  
              </form>  
             
        <div class="modal-footer">
          <button type="button"  class="btn btn-secondary" (click)="reset()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save()"data-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  {{vlan | json}}


