<div class="container areas" style="margin-top:10%;">
    <div class="container row text-center">
      <div class="col-lg-10">
        <h2 class="text-left">{{title}}</h2>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form [formGroup]="formName">
        <div class="form-group"  [class.has-error]="formName.controls['name'].touched && !formName.controls['name'].valid">
          <label>Nome:</label>
          <input type="text" class="form-control" maxlength="30" [(ngModel)]="client.name" formControlName="name">
          <p style="color:red" *ngIf="formName.controls['name'].touched && !formName.controls['name'].valid">O campo é obrigatório!</p>
        </div>
      </form>
      <form [formGroup]="formName">
          <div class="form-group"  [class.has-error]="formName.controls['document'].touched && !formName.controls['document'].valid">
            <label>Documento:</label>
            <input type="text" class="form-control" maxlength="30" [(ngModel)]="client.document" formControlName="document">
            <p style="color:red" *ngIf="formName.controls['document'].touched && !formName.controls['document'].valid">O campo é obrigatório!</p>
          </div>
        </form>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <label>Status:</label>
            <select class="form-control select2 select2-hidden-accessible"  style="width: 100%;" tabindex="-1"
              aria-hidden="true" [(ngModel)]="client.status">
              <option selected="selected" value="2">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Ativado</font>
                </font>
              </option>
              <option value="1">
                <font style="vertical-align: inherit;" >
                  <font style="vertical-align: inherit;">Desativado</font>
                </font>
              </option>
              <option value="0">
                <font style="vertical-align: inherit;" >
                  <font style="vertical-align: inherit;">Excluido</font>
                </font>
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
              <label>Linguagem:</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1"
                aria-hidden="true" [(ngModel)]="client.languageId">
                <option selected="selected" *ngFor="let l of linguas" [value]="l.id">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">{{l.name}}</font>
                  </font>
                </option>
              </select>
            </div>
          </div>
      </div>
      <form [formGroup]="formName">
          <div class="form-group"  [class.has-error]="formName.controls['banda'].touched && !formName.controls['banda'].valid">
            <label>Banda:</label>
            <input type="text" class="form-control" maxlength="30" [(ngModel)]="client.banda" formControlName="banda">
            <p style="color:red" *ngIf="formName.controls['banda'].touched && !formName.controls['banda'].valid">O campo é obrigatório!</p>
          </div>
        </form>
    </div>
    <div class="col-md-2"></div>
  </div>
  
  <!--{{serviceModel | json}}-->
  
  <div class="col-md-12 ">
  
    <div  class="nav-tabs-custom tabs tab-0">
      <ul class="nav nav-tabs">
        <li style="padding:20px;" (click)="openTab('vlan')" [class.active]="isVlan">
          <a (click)="openTab('vlan')" data-toggle="tab" aria-expanded="true">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Vlan</font>
            </font>
          </a>
        </li>
        <li style="padding:20px;" (click)="openTab('ip')" [class.active]="isIp">
          <a (click)="openTab('ip')" data-toggle="tab" aria-expanded="false">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">IP</font>
            </font>
          </a>
        </li>
        <li style="padding:20px;" (click)="openTab('user')" [class.active]="isUsers">
          <a (click)="openTab('user')" data-toggle="tab" aria-expanded="false">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Users</font>
            </font>
          </a>
        </li>
        <li style="padding:20px;" (click)="openTab('group')" [class.active]="isGroup">
          <a (click)="openTab('group')" data-toggle="tab" aria-expanded="false">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Grupos</font>
            </font>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div [class.active]="isVlan" class="tab-pane">
          <app-dc-vlan (alterList)='vlanList($event)'></app-dc-vlan>
        </div>
        <div [class.active]="isIp" class="tab-pane">
          <app-dc-ip (alterList)='ipList($event)'></app-dc-ip>
        </div>
        <div [class.active]="isUsers" class="tab-pane">
          <app-dc-users (alterList)='userList($event)'></app-dc-users>
        </div>
        <div [class.active]="isGroup" class="tab-pane">
          <app-dc-group (alterList)='groupList($event)'></app-dc-group>
        </div>

      </div>
 
    </div>
  </div>
  <button (click)="save()" style="width:100%" class="btn btn-primary">Save</button>
  
{{client | json}}