<!-- FOOTER -->
<footer class="bg-dark text-white mt-4">
    <section class="container pt-5">
      <div class="row">
        <div class="col-lg-3">
          <h3>Datacenter</h3>
          <ul class="nav flex-column">            
            <li class="nav-item">
              <a class="nav-link" *ngFor ="let data of datacenters" [routerLink]="['data-center',data.id]">{{data.name}}</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h3>Products</h3>
          <ul class="nav flex-column">          
            <li class="nav-item">
              <a class="nav-link" *ngFor ="let area of areas" [routerLink]="['services',area.id]">{{area.name}}</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h3>Support</h3>
          <ul class="nav flex-column">            
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h3>Account</h3>
          <ul class="nav flex-column">            
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>

    </section>
    <section class="container py-5 small text-center">
      <span class="float-right">
        <a>Back to top</a>
      </span>
      &copy; 2017 Company name. &middot;
      <a href="#">Copyright</a>
      &middot;
      <span class="lang text-center">
        Linguagem:
        <a href="#">EN</a> |
        <a href="#">ES</a> |
        <a href="#" class="active">PT</a>
      </span>
    </section>
  </footer>
